*,*::after,*::before{
    margin:0;
    padding:0;
    font-size: 20pt;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.navigation-bar{
    margin: 0;
    position: fixed;
    display: flex;
    flex-wrap: none;
    align-items: center;
    justify-content: space-evenly;
    height: 95px;
    overflow: hidden;
    top:0;
    width:100%;
    background-color: rgba(1, 108, 124, 0.678);
    border-bottom: 1px solid rgb(194, 248, 255);
    z-index: 10;
}


.navigation-container{
    width: 100%;
    display: flex;
    flex-wrap: none;
    padding-right: 0;
    justify-content: right;
    padding-right: 2%;
}

.logo-container{
    max-height: 100%;
}

.logo-image{
    max-height:100%;
    width: 70%;
}

.logo-container:hover{
    cursor: pointer;
}


.menu-tab{
    padding: 0% 3%;
    padding-top: 2%;
}

#messages-logo{
    width: 28px;
    padding: 20%;
}

.turn {
    width: 30px;
    background-color: rgb(173, 232, 240);
    border-radius: 10px;
    border: 2px solid rgb(170, 226, 233);
    padding: 15%;
    transition: .4s;
}

.menu-tab:hover{
    transition-duration: 0.5s;
    border-radius: 10px;
}

.turn:hover {
    background-color: white;
    border: 2px solid rgb(5, 45, 54);
}

.profil-image {
    width: 30px;
    border: 2px solid rgb(173, 232, 240);
    border-radius: 10px;
    padding: 15%;
    transition: .4s;
}

.profil-image:hover {
    background-color: white;
    border: 2px solid rgb(5, 45, 54);
    cursor: pointer;
}


.sub-menu{
    position: fixed;
    right: 0;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);;
    border:2px solid rgb(0, 0, 0);;
    z-index: 20;
    overflow: hidden;
    width: 170px;
    padding: 0%;
    border-radius: 5px;
    display: none;
    transition: 2s;
}

.sub-menu-tab {
    font-size: 17px;
    padding-bottom: 2%;
    width: 100%;
    padding-left: 15px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.685);
    color: white;
    transition: 2s;
}

.profil:hover .sub-menu{
    display: block;
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

.content-container{
    position:absolute;
    height:100%;
    width: 50%;
    top: 157px;
    margin-right: 2.2%;
}

.publication{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    border: 1.5px solid white;
    padding: 0px;
    border-radius : 10px;
    background-color: rgba(173, 232, 240, 0.788);
    margin-bottom: 25px;
}

@media (max-width: 750px) {

    .navigation-bar {
        z-index: 5;
    }

    .navigation-bar{
        height: 70px;
    }

    .content-container{
        width: 80%;  
        top: 117px;  
    }

    .turn {
        width: 26px;
        padding: 7%;
    }

    #messages-logo{
        width: 24px;
        padding: 11%;
    }

    .profil-image{
        width: 26px;
        padding: 7%;
    }

}

@media (max-width: 500px) {

    .navigation-bar{
        height: 50px;
    }

    .content-container{
        width: 90%; 
        top: 97px;  
    }
    

    .turn {
        width: 21px;
        padding: 7%;
        border-radius: 5px;
    }

    #messages-logo{
        width: 19px;
        padding: 11%;
        border-radius: 5px;
    }

    .profil-image{
        width: 21px;
        padding: 7%;
        border-radius: 5px;
    }
    
}
